@model universityManagementSys.Models.Student

<div class="card mt-4">
    <div class="card-body">
        <h4>Assign New Course</h4>

        <form asp-action="AssignCourseToStudentPost" method="post">
            <input type="hidden" name="StudentID" value="@Model.ID" />

            <div class="form-group">
                <label for="CourseID">Select Course</label>
                <select name="CourseID" class="form-control" asp-items="ViewBag.Courses"></select>
            </div>

            <button type="submit" class="btn btn-primary mt-2">Assign Course</button>
        </form>
    </div>
</div>
