@model universityManagementSys.ViewModel.RegisterViewModel

<form>
    <input type="hidden" asp-for="Role" value="Instructor" />
    

    <div class="form-group">
        <label asp-for="instructor.Title"></label>
        <input asp-for="instructor.Title" class="form-control" />
        <span asp-validation-for="instructor.Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="instructor.HireDate"></label>
        <input asp-for="instructor.HireDate" type="date" class="form-control" />
        <span asp-validation-for="instructor.HireDate" class="text-danger"></span>
    </div>

   
</form>