@model universityManagementSys.ModelView.ViewModel

@{
    ViewData["Title"] = Model.PageTitle;
}

<h2>@Model.PageTitle</h2>
<p>@Model.WelcomeMessage</p>

<form asp-action="CreateInstructor" method="post">
    <div class="form-group">
        <label asp-for="instructor.FirstName"></label>
        <input asp-for="instructor.FirstName" class="form-control" />
        <span asp-validation-for="instructor.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="instructor.LastName"></label>
        <input asp-for="instructor.LastName" class="form-control" />
        <span asp-validation-for="instructor.LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="instructor.Title"></label>
        <input asp-for="instructor.Title" class="form-control" />
        <span asp-validation-for="instructor.Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="instructor.HireDate"></label>
        <input asp-for="instructor.HireDate" type="date" class="form-control" />
        <span asp-validation-for="instructor.HireDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="instructor.Email"></label>
        <input asp-for="instructor.Email" type="email" class="form-control" />
        <span asp-validation-for="instructor.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="instructor.PhoneNum"></label>
        <input asp-for="instructor.PhoneNum" class="form-control" />
        <span asp-validation-for="instructor.PhoneNum" class="text-danger"></span>
    </div>



    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="GetAllInstructors" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
