@model universityManagementSys.ModelView.DataViewModel

@{
    ViewData["Title"] = "Edit Student";
}

<h2>Edit Student</h2>

<form asp-action="EditStudent" method="post">
   
    <input type="hidden" asp-for="student.ID" />

    <div class="form-group">
        <label asp-for="student.FirstName"></label>
        <input asp-for="student.FirstName" class="form-control" />
        <span asp-validation-for="student.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="student.LastName"></label>
        <input asp-for="student.LastName" class="form-control" />
        <span asp-validation-for="student.LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="student.DateOfBirth"></label>
        <input asp-for="student.DateOfBirth" type="date" class="form-control" />
        <span asp-validation-for="student.DateOfBirth" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="student.Email"></label>
        <input asp-for="student.Email" type="email" class="form-control" />
        <span asp-validation-for="student.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="student.PhoneNum"></label>
        <input asp-for="student.PhoneNum" class="form-control" />
        <span asp-validation-for="student.PhoneNum" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="student.DepartmentID">Department</label>
        <select asp-for="student.DepartmentID"
                class="form-control"
                asp-items="ViewBag.Departments">
            <option value="">-- Select Department --</option>
        </select>
        <span asp-validation-for="student.DepartmentID" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Update Student</button>
    <a asp-action="GetAllStudents" class="btn btn-secondary">Cancel</a>
    <a asp-action="AssignCourseToStudent" asp-route-id=@Model.student.ID
       class="btn btn-primary btn-sm">
        Assign course
    </a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
