<h2>Search Students by Course</h2>

<div class="form-group">
    <label for="CourseID">Select Course</label>
    <select id="CourseID" name="CourseID" class="form-control" asp-items="ViewBag.Courses">
        <option value="">-- Select Course --</option>
    </select>
</div>

<div class="col-md-2">
    <button id="btnSearch" class="btn btn-primary">Search</button>
</div>

<div id="studentsResult">

</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
              $(document).ready(function () {
            $("#btnSearch").click(function () {
                var courseId = $("#CourseID").val();
                if (courseId) {
                    $.get("/Student/GetStudentsByCourseId", { courseId: courseId })
                        .done(function (data) {
                            $("#studentsResult").html(data);
                        })
                        .fail(function () {
                            $("#studentsResult").html("<p class='text-danger'>Error loading students.</p>");
                        });
                } else {
                    $("#studentsResult").html("<p class='text-danger'>Please select a course.</p>");
                }
            });
        });
    </script>
}
